[2013-01-09 14:50] donohoe opened #1 "Demo crashes on iOS"
I realize these are not on the supported browser list but thought its worth noting that loading the demo on these devices/browsers results in immediate crash:

Mobile Safari (iPhone iOS 6.0.1)
Mobile Safari (iPad 2 iOS 6.0.1)

Link used: http://flowtime-js.marcolago.com/

Worth noting it did load on Mobile Safari iPad Mini using iOS 6.0.2

(Side note: scrolling seems to skip across a number of pag

[2013-01-10 02:51] pcottle opened #3 "Google analytics code"
Just as an fyi, this line throws for me:

[code]

[2013-01-10 08:59] #3 closed, assigned to marcolago

[2013-01-15 14:13] RiZKiT opened #6 "Selecting a slide in "overview" mode, jumps to the slide after that slide"
Select a slide in overview mode via cursor keys and enter, you will jump to the next slide, after the slideyou've selected (see here: http://flowtime-js.marcolago.com/).

That error doesn't occur if the slide is selected via mouseclick.

[2013-01-16 08:28] jnui opened #7 "does not work in firefox 17 & 18 for mac"
I have a Mac with Lion OS
works fine with chrome, but firefox 17 & now 18 the js does not work, it just seems to ignore the js, and I can pan and scroll to view the entire content.

[2013-01-18 09:38] #7 closed, assigned to marcolago

[2013-01-22 12:22] #6 closed, assigned to marcolago

[2013-01-22 12:38] RiZKiT opened #8 "Overview click handling broken in IE9"
In IE9 the click handling in "overview" (when press ESC, not the slide map at lower right) is broken because the slide gets activated only, if you click outside (more exactly below!) the "thumbnail" content, in the grey area, otherwise the click does nothing (for text content) or jumps to an url (link).

I think it is an IE9 related z-index/transparency click handling bug.

[2013-01-26 17:15] #8 closed, assigned to marcolago

[2013-04-02 11:14] jnui opened #10 "links to ft_page not working?"
Hi Marco,
I am getting Uncaught Error: SyntaxError: DOM Exception 12 on line 1234 when clicking on a link to a slide.

[2013-04-02 12:03] #10 closed, assigned to nobody

[2013-04-30 21:09] rileytg opened #11 "Disabling navigation"
I'm working on a site with flowtime.js controlling the page navigation but we'd like to have something like

[1]
[2]
[3a][3b]
[4]
[5]

I've hacked the position of the side element it by doing this
[1][nil]
[2][nil]
[3a][3b]
[4]
[5]
But i only want to show 3b when I call a js fn, is there any way to prevent the scrolling to section 2 unless i explicitly load that page?

[2013-05-01 10:23] amitkot opened #12 "Feature request - Markdown support"
Please add Markdown support to make writing slides easier

[2013-05-01 13:15] #1 closed, assigned to marcolago

[2013-05-02 18:58] #11 closed, assigned to marcolago

[2013-05-02 19:00] rileytg opened #14 "What is `useCapture` in the eventListener method?"

[2013-05-06 15:48] gjungb opened #15 "Support for wireless presenters"
Recently I wanted to use a [Logitech R400 Presenter](http://www.amazon.de/Logitech-Wireless-Presenter-R400-schnurlos/dp/B002KKM5J2) to control my presentation. Unfortunately the 'previous' and 'next' buttons of the tool get translated to 'PgUp' and 'PgDown', which Flowtime.js interprets as 'first page / last page in the current section'.

Maybe we should interpret 'PgUp' / 'PgDown' identical to 'A

[2013-05-08 22:46] #14 closed, assigned to nobody

[2013-05-08 22:49] rileytg opened #17 "iOS iphone height is not working properly"
This issue exists on your demo as well as in our site:
![img_0081](https://f.cloud.github.com/assets/692817/480487/5b5b0d32-b831-11e2-89a1-1e646d0212cd.png)

See the top of the next page is visible? We've figured out that it loads with height 100% then the safari address bar goes away freeing up an additional 60px causing this issue. Any insights on fixing this?

[2013-05-11 19:18] jcquarto opened #18 "auto move forward?"
I'm curious ... is there a way to have the presentation move to the next slide after X seconds?  And similarly, when at the end of the preso to loop back to the first page?

[2013-05-12 13:34] #18 closed, assigned to marcolago

[2013-05-13 14:58] ghost opened #19 "inpage Navigationlink dosn't work on touchdevices"
Hello,

on touchdevices, Android PAD or iPad, the inpage Links (<a href="/#/section-2/page-2">something</a>) don't work.

[2013-05-23 21:12] #19 closed, assigned to marcolago

[2013-05-27 21:54] p0rcupine opened #20 "Video support in Firefox"
As far as I can see embedding a video from YouTube or Vimeo plays well in webkit browsers but not in Firefox (Windows and Mac). Do you confirm the issue? Is it real or it is just me? Are there any workarounds?

Thanks.

[2013-05-30 22:17] #20 closed, assigned to marcolago

[2013-07-31 13:35] tiagofernandez opened #21 "Feature request: PDF support"

[2013-10-07 23:39] adaptifyDesigns opened #22 "Can't swipe up on Mobile Safari (iPhone 4S - iOS 7.0.2)"
I can swipe down and swipe right/left, but I am unable to swipe up (to go back to previous page/screen) on your demo site.

Browser = Mobile Safari
iOS = 7.0.2
Phone = iPhone 4S

[2013-10-08 23:42] #22 closed, assigned to nobody

[2013-12-20 02:17] number77 opened #23 "Stop vimeo (embedded) video when navigate to another page"
Hi,

How can I make an Vimeo video stop playing or pause a video when navigating?

thanks in advance!

[2014-03-02 16:14] #15 closed, assigned to nobody

[2014-03-17 18:10] alessandroraffa opened #26 "Feature request: customize scrollTimeout for mouse/touch scrolling"
Is there a way to customize (or avoid) the scrollTimeout?
When you use keyboard or direct anchors, the transition is without delay/latency.
When you scroll using mouse wheel or touch, the transition has a delay/latency.
How to avoid or customize that delay/latency?

[2014-03-18 08:47] #26 closed, assigned to nobody

[2014-03-24 04:28] caratage opened #27 "Event property e.prevSectionTitle?"
Trying to display the title of prev or next section onNavigation as HTML.

Only succeeding to display boolean values for existing section:

[code]

Is there a property such as

[code]

Or how could a achieve this in a different way?

[2014-03-26 22:05] #23 closed, assigned to marcolago

[2014-03-31 02:06] #27 closed, assigned to nobody

[2014-06-28 11:41] SaschaWe opened #30 "gridNavigation(false) not working via touch"
Hey,

if Flowtime.gridNavigation is set to false it works fine when using the arrow keys.
But it's not working when using swipe events. It still navigates to the same page level on the next section instead of moving to the first.

Great job!

Regards
Sascha

[2014-06-29 13:19] #30 closed, assigned to nobody

[2014-09-22 15:13] mgkz opened #31 "Pages taller than viewport: scroll within page, then scroll to next page?"
If the content of a page (.ft-page) is long, it may end up being taller than the viewport (especially on small screens or when switching device orientation).

Is there a way to scroll/swipe (vertically) *within* the current page (.ft-page) and only scroll/swipe to the next page once scrolling has reached the top or bottom of the current page?

This would be fantastic for responsive websites using

[2015-01-30 09:45] Mody11 opened #33 "Firefox 35.0.1 always swipes two slides."
Hi,
thanks for that great script. But I got one issue i can't fix so far. If i test it on Firefox 35.0.1 and also on the Firefox Developer Edition, the keyboard navigation works fine, but if i scroll, it always swipes two slides. It doesn't matter how carefull i scroll, it jumps from page one to page three or from page two to page four. It even doesn't matter in with section.
Chrome and Safari on

[2015-01-30 11:27] marcolago commented on #33
Hi,
thanks for letting me know this issue, I was not ware of this problem.

I think that something is changed in scroll events management in the latest versions of Firefox (I've always tested the script on Nightly but never noticed the problem) but I'll check this as soon as possible.

The strange thing is that in Firefox the scroll jumps 2 or more slides only using the trackpad but is ok using a

[2015-01-30 11:37] Mody11 commented on #33
Hi,

thanks for your replay.
Yes, in Chrome and also in Safari the delay is to high. I tested with the buildin trackpad and with a apple magic mouse.
Don't know how it works with a scrollwheel.

I'll test asap.

Thanks

[2015-02-01 15:52] marcolago commented on #33
Could you please test again at the URL http://flowtime-js.marcolago.com and let me know if the problem is still present?

While testing today I've noticed that the problem seems disappeared without any fix.
There’s still the greater delay when using the trackpad, and I will try to fix this (if it’s a paroblem that belongs to the frontend code and not to some browser’s quirks).

Thanks in advance f

[2015-02-02 10:34] Mody11 commented on #33
I tested it again, but the problem still exists.
With the magic (touch) mouse you can't scroll only one slide. With the trackpad it works, but only if you scroll very carefully and only with the delay.

So nothing changed for me yet.

[2015-02-02 14:57] marcolago commented on #33
Ok. I’m going to rewrite the scroll management.
Thanks for the test.

[2015-02-17 09:38] marcolago commented on #33
Hi. Just a reminder to let you know that I’m working on the issue and as far as I know is a problem with the momentum management.

I’ve not yet found a solution, but I’m on it!

[2015-04-24 14:36] DavidOliver opened #34 "Flowtime script has to be in body, not head"
I'm just starting to use Flowtime (thanks!), and have found that it doesn't work if the `flowtime.min.js` script is placed in the head of the HTML page, which took me a little while to figure out.

If this is expected/correct, maybe it could be put in the readme. :-)

[2015-04-24 15:20] marcolago commented on #34
Hi, tanks for using it.

The scripts should be placed just before </body> like in the examples (the script needs to check the html to find Flowtime elements so it has to run after the document is loaded).
I'll update the readme to make it more clear.

Sorry for the inconvenience.
Let me know if everything is fine.

[2015-04-24 15:40] DavidOliver commented on #34
Oh, please don't apologise. I just thought it might help others. As an aside, I take it `document.onload` can't be used here?

It's working fine so far - thanks. I now need to get some custom styling in place and also see about getting our particular type of content in.

[2015-04-24 21:20] marcolago commented on #34
Yes. `document.onload` should work but I’ve always found more straightforward to put scripts at the bottom of the document, maybe just because it makes simpler to manage basic dependencies.

Just a matter of “style” I suppose.

I’m curious about you “particular type of content” now.
Can’t wait to see your work.

[2015-06-17 10:53] rootion opened #35 "css background-size: cover not working in multiple slides"
Hi Marco,

Thanks for this wonderful framework!

I am attempting to build a presentation in which different slides need to have perfect full page background image. I am currently using the css property background-size: cover.  It's working only in the first slide. The rest of the slides don't display the images at all. It doesnt matter whether its the second page or the second section. Only the fi

[2015-06-17 11:08] marcolago commented on #35
Thanks to you for using Flowtime.

I’ll check the issue and let you know something ASAP.

[2015-06-17 15:09] rootion commented on #35
Hi @marcolago, sorry it was my issue.
I wrote the background-size code out my head and I wrote "fixed" at the end of the line.

so writing the code like this solved the issue:
[code]

[2015-06-17 15:09] #35 closed

[2015-06-20 16:25] rootion opened #36 "How to disable scrolling of inactive ft-sections?"
When I resize .flowtime to 75% both height and width I see that when I scroll up and down through my ft-pages, all the pages from the neighbor ft-sections also scrolls up and down.

This is a big performance drawback when building a presentation with more than 150 image slides, as all the sections within the presentation scroll when I scroll through the current section.

Would it be possible to di

[2015-06-21 13:03] rootion commented on #36
Inspecting flowtime.js I see that in `function navigate(dest)`, line 1765 using css transform and applying it to `ftContainer` which is `document.querySelector(".flowtime");`. This is exactly what I've pointed out before.

Can you help me to modify this selector to slide only the current section? I don't manage to do it.

[2015-06-21 22:14] marcolago commented on #36
Hi, sorry for the late.

As you have just discovered Flowtime is based on the transitions of the main container.
Surely is possible to transition only a single section but this could not solve you problem because, when you change section Flowtime need to transition the container anyway.

Another thing to consider is how to manage the section to section navigation, when you press left or right.
May

[2015-06-22 19:10] rootion opened #37 "how to detect if current page has a certain ID or class?"
I have another question..
hopefully it will help somebody else and not only me.

How can I check if the current page is a specific page?
Let's say I add a custom class to my .ft-page, something like .home and I want to check if the current page is .home.

I wrote something like this, which gives me the right alert but only when I **leave** the page. Is there a better way? I want to know in which p

[2015-06-22 19:18] rootion commented on #36
Hi @marcolago thanks a lot for your reply and time.

If you could show me the way to build something like this, it would be also good. If you have the time to build an example, also great. Flowtime.js has almost almost everything I need to build a project which I would be happy to share with you as an example of what can be done with the framework, it's just that I am having performance issues wit

[2015-06-24 20:29] marcolago commented on #36
Hi.

The description of the functionality you need is clear and I’ve thinked about a way to implement it.
I’m not sure this would solve the performance issue but I’ll try.

Please, wait until the weekend so I could try to do something.

I’ll let you know something soon.
Thanks for the patience.

[2015-06-24 20:42] marcolago commented on #37
Hi.
You can get a reference to the current page registering a listener or using the callback for the navigation event.

Every time Flowtime.js navigate to a page it fires an event (or call the registered callback) passing an object containing everything (I hope) you need to know about the application status.

You can check the documentation at https://github.com/marcolago/flowtime.js#events-and-ca

[2015-06-25 10:39] rootion commented on #37
Thanks for the answer!

For some reason the alert would be given only when I left the page and not when I entered, so I fixed it with the following code:

[code]

[2015-06-25 10:39] #37 closed

[2015-06-25 10:42] rootion commented on #36
I'll be waiting for the answer. Thanks a lot!

[2015-06-28 14:42] marcolago commented on #36
Hi.
I’ve made a firs implementation of what I think you need ;).

You can check a demo here: http://flowtime-js.marcolago.com/examples/scroll-the-section/

You can check the demo and the configuration code at the bottom of the index page to check if this is what you need.
I’ve not done a performance test so let me now if this solves you issue.

If everything is ok I still need to do a little imple

[2015-06-28 15:11] marcolago commented on #37
The reason is that Flowtime uses CSS transitions to animate the page change, and the animation duration is 500ms, but the internal state of the application (current section, current page, and every other varibles) is updated on input and not at the end of the animation.

It sounds strange, I know, but this way is the most coherent to manage the internal state of the system.

If you need to show an

[2015-06-28 18:02] rootion commented on #36
Hi,

Thanks a lot for this! just checking the preview link and it looks very promising.
I'll make performance tests in different devices and will let you know.

Many thanks!

[2015-07-01 09:45] rootion commented on #36
I am testing and having one question so far:

Is it possible that this new code is overriding the possibility to disable scroll navigation via APIs? If I use the flowtime.js you provided and I specify `Flowtime.enableNavigation(false, false, false, false);` all the navigations are disabled, except scrolling, which remains active all the time now.

[2015-07-01 19:26] marcolago commented on #36
Hi.
Sorry but probably it's because the WIP status of the mouse wheel code that I'm rewriting.
Consider the code in the dev branch a test but I will update it soon with the scroll wheel fix.

Thanks for the patience.

[2015-07-01 21:42] marcolago commented on #36
Ok, fixed and pushed to dev-slide-section-only branch.
I also fixed the cross direction navigation with the scroll section modifier.

Let me know.

[2015-08-15 12:52] rootion opened #38 "Open specific slide by default"
Would it be possible to set up a starting slide that is not the slide #1?
If so, how to achieve this? Let's say I want to start my presentation at a slide with a particular id or class, rather than the first slide in the dom.

Thanks in advance!

[2015-08-16 11:25] marcolago commented on #38
If what you want to achieve is something like this: http://radiocochon.com/ (at loading it will navigate in the central page of a 3x3 flow) you can just force a navigation just after the Flowtime init.

You can find the page via document.querySelector (or any other method you prefer) you want to navigate to and use `Flowtime.gotoPage(HTMLElement target)` to tell Flowtime to start a navigation righ

[2015-08-24 13:52] MaxKemman opened #39 "numbered list start at specific number"
Thanks for this wonderful framework, I'm thorougly enjoying it.
There seems to be an issue with starting a numbered list at a specific number (useful for continuing a numbered list on another slide). The HTML spec says it should be like the following:
<  ol start="6">
<  li>This should be numbered 6<  /li>
<  /ol>

But for some reason, flowtime.js doesn't recognize this and starts with number 1

[2015-08-24 14:13] marcolago commented on #39
Hi.
Thanks for using Flowtime.js.

The problem is that Flowtime use CSS counters to style the ordered list, so, if you want to reset the standar behaviour you have to edit the file in css/themes/default.css starting at the line 191:

[code]

removing the counter and fix some styles to fit your needs.

Let me know if you need further help.
Thanks again.

[2015-08-25 16:38] rootion commented on #31
I am curious how to achieve this..
`.flowtime`, `.ft-section` and `.ft-page` have all width: 100% and height: 100%;
Changing the height of a specific .ft-page doesnt seem to affect the rest as it's overriden by the parents. What would you advice?

[2015-08-25 19:58] marcolago commented on #31
I still haven't solved this issue, sorry, but now I'n not sure what rootion comments means.

If you force a height higher than 100% for a page the page it works, but you also have to set `Flowtime.slideInPx(true);` to be sure that the navigation works as expected.
I noticed that when changing slideInPx at runtime I forgot to refresh the offsets, I will push the fix ASAP.
If you set slideInPx befor

[2015-08-25 20:00] #34 closed

[2015-08-25 20:00] #21 closed

[2015-08-25 20:00] #17 closed

[2015-08-25 20:07] marcolago commented on #12
@ShMcK has developed a tool to import a markdown file in Flowtime, you can check it at https://github.com/ShMcK/markdownFlowtime

Sorry for the late but I wasn't able to find a solution which was fine to me.
Anyway, let me know if this tool could fits your needs.

[2015-08-25 23:05] rootion commented on #31
Hi @marcolago, thanks a lot for the support and your quick answer!
I created a quick test and put it online so we can talk about the same thing.
https://github.com/rootion/flowtime

There are two modifications, you will see them easily pressing ESC:

One page has class `.doubleHeight` and it has more content. You can see the new height in the thumbnail view but it doesnt work in the scrolling: I c

[2015-08-26 07:35] MaxKemman commented on #39
Thanks for the reply.

I wasn't quite sure how to fix it, apart from manually creating a css list that starts at 6, but hiding list items does the trick:

<li style="visibility:hidden; position:absolute"></li>

[2015-08-26 10:38] marcolago commented on #39
Hi.
I've pushed a modifier CSS so you can try it yourself.

Add in your HTML the new CSS located in `css/modifiers/standard-ol.css` just after the default Flowtime Theme (or your custom theme) and the ordered lists should now behave as standard ones.

Let me know if this is the correct solution.

[2015-08-26 10:50] marcolago commented on #31
Hi @rootion.
The scroll still works because you have an old, bugged, version on flowtime.js file.
Please, get the new file from the main branch and retry.

For the rest of the issue I will work on it soon.
Thanks for your patience.

[2015-08-26 13:38] MaxKemman commented on #39
That works fine, thanks for fixing it so quickly

[2015-08-26 13:54] #39 closed

[2015-09-23 20:29] rootion opened #41 "Is it possible to have multiple ft-section with the same data-id?"
Is it possibly to use the same `data-id` in multiple `ft-section` or do they need to have necessarily a unique ID name?

I am having issues with a navigation I am building, when attempting to customize the URL and the hashtag of the page.

If I build the following markup:

[code]

and if I add the following navigation:

[code]

I am doing this, because I want the url of my slides to look like url.

[2015-09-28 20:34] marcolago commented on #41
Hi. Sorry for the late.

IDs must be unique, just like ID attributes, it's the only way to identify a specific page inside a specific section.

This was the answer I was ready to write, but I've decided to try to hack the hash parser and the result looks promising.

You can try a simple demo here: http://flowtime-js.marcolago.com/examples/duplicated-id/#/section/page-6

And if the demo works as yo

[2015-09-29 15:26] badstorm opened #42 "It is possibile to prevent next section with down key?"
Hi, there is a way to disable to go to the next section when i'm at the bottom af the current section. It is also possibile to disable the animation that happens (scroll to top) when I go to the next section?
Thanks

[2015-10-28 13:43] kawof opened #43 "Flowtime.updateNavigation() issues"
Hi @marcolago, thanks for your wonderful plugin.

I have an urgent issue:

I am adding content dynamically via Ajax. Everytime I add or remove elements I call `Flowtime.updateNavigation()` to let flowtime know about my newly modified elements.

`Flowtime.addEventListener("flowtimenavigation")` is also needed while navigating but this event seems to be also called with `updateNavigation()`.

If I w

[2015-10-28 14:05] marcolago commented on #43
Hi.

I’ve changed the `updateNavigation` API so you have to call `Flowtime.updateNavigation(false);` as the parameter to avoid event fire.

I’ve pushed the edit to master with some other improvements.
Let me know if this works for you.

Thanks.
marcolago

[2015-10-28 14:07] kawof commented on #43
Wow, thank you so much for the quick response. I will test it now and let you know.

PS: is there any place to donate anything to your project? its very helpful!

[2015-10-28 14:14] #12 closed

[2015-10-28 14:24] #41 closed

[2015-10-28 14:24] #38 closed

[2015-10-28 14:26] #36 closed

[2015-10-28 14:45] marcolago commented on #42
Hi badstorm. Sorry for the late in the answer.
Could you tell me more about what do you expect this to work?

What i’ve understood is that you want to prevent the down key to navigate to the first page of the next section.
This should be easy to achieve, but to make a clean work I need to know how you expect the “right key” (and other navigation options) to work.

Let me know more about this and I

[2015-10-28 14:52] marcolago commented on #43
Thanks for your appreciation and your kindness.
I’m completely new to donations for my work (and the donation is not necessary) but if you want I have a PayPal account https://www.paypal.me/marcolago/

Thanks again and let me know if everything is fine and if you need further support.
marcolago

[2015-10-28 17:25] kawof commented on #43
Great. I will do that.

I am now running into a connected issue: When I dynamically add a new slide and do an `updateNavigation()`, the DOM is updated as expected but flowtime now automatically navigates until the new slide. I assume this is like this, because if my old slide had a `sectionIndex` of 0 for example, when doing the `updateNavigation`, my new slide will have a sectionIndex of 0, and t

[2015-10-28 21:25] marcolago commented on #43
Hi.
Thanks for the example, it was very useful to identify the problem.
Now I have fixed the issue in a better way than today.

You can check a new demo forked from your pen here: http://s.codepen.io/marcolago/debug/MaGBqz
and the pen here: http://codepen.io/marcolago/pen/MaGBqz

You can use the new, temporary, version of the main script from here: http://flowtime-js.marcolago.com/examples/a/flowt

[2015-10-29 13:53] kawof commented on #43
Sorry, apparently that was an issue on my end. I cleared my cache and the new script worked perfectly. I will test it and let you know asap. Thanks!

[2015-10-29 14:20] marcolago commented on #43
No problem.
Let me know if you need further support.
I’m curious about what you are building with Flowtime, I hope you could show me the work when done.

[2015-10-30 15:42] kawof commented on #43
Hi @marcolago,

I tested the new code in codepen and it works as desired.
Could you please push it to the master so it incorporates all the latest changes you did in the master as well?

Thanks a lot!

[2015-10-30 19:43] marcolago commented on #43
Hi.
I've just pushed to master the new version.
I've also made a little improvement in `brav1toolbox.js`.

**Just a note.**
I've seen that you have included in you original Codepen both `brav1toolbox.js` and `flowtime.min.js`.
Mind that `flowtime.min.j` is a minified and concatenated file that **already includes** `brav1toolbox.js`.

Feel free to let me know any feedback or issue you run into.
Tha

[2015-10-30 19:43] #43 closed

[2015-10-30 20:04] marcolago commented on #33
I’m sorry but the problem is related to the system management of the momentum scrolling.
AFAIK is not possible to bypass the native scroll behavior inside the browser without ugly hacks at the risk of breaking other things.

I close for now but I will check again in the future.

[2015-10-30 20:04] #33 closed

[2015-10-30 23:23] kawof commented on #43
One question: did you push the `Flowtime.updateNavigation( false );` into the master as well?

I am checking the code of the updated `flowtime.js` in line 1387 and I can't see that new add anywhere and that call is not working. Maybe it got lost in between the changes?

[2015-10-31 08:24] marcolago commented on #43
I've rewritten the updateNavigation API but I forgot to update the documentation.
The `navigate` parameter is not needed anymore.

I've tested this version of the FLowtime scipt with your code here: http://s.codepen.io/marcolago/debug/MaGBqz and everything is working fine.

Could you tell me what call is not working now?
Thanks and sorry fo the inconvenience, I'll update the documentation ASAP.

[2015-10-31 12:02] kawof commented on #43
I am not so sure yet what my issue is.
Please check this codepen: http://codepen.io/anon/pen/avKKyL
http://codepen.io/anon/debug/avKKyL

My logic is as it follows: I load a first page that contains only one section with one page. I add the following conditionals: if `e.prevSection == false`, prepend another slide on the left. if `e.nextSection == false`, append another slide to the right and `upda

[2015-10-31 13:43] marcolago commented on #43
Uhm. Ok, I got it.
I didn’t considered this specific case.
Give me just a little time to check and I’ll let you know soon.

Flowtime.start(); force the init of the script.
Flowtime also works if you don’t call the start method but if you have changed some default options, of if you need to force the initial navigation, because you want to start on a deep page and not at the first, or, just in your

[2015-10-31 16:10] marcolago commented on #43
Hi.
I've worked on your last demo and I made some changes both to Flowtime and your code.

In Flowtime I've fixed a problem with the hash change and the event that causes the continuos event trigger.

In your code I changed some things to better manage the section cloning and to optimize the general flow.

You can find a new version of your last demo here: http://codepen.io/marcolago/pen/yYEqKK?ed

[2015-10-31 17:39] kawof commented on #43
Wow @marcolago thanks a lot for your amazing help. I am learning a lot here.

Just as a quick note, I actually put that clone code in there in order to make a very quick and dirty representation of my environment, but in my code I am not cloning the posts, as I am using wordpress and ajax to retrieve content dynamically. This was just an improvised solution to show you the endless loop. But I am l

[2015-10-31 19:48] marcolago commented on #43
Thanks for the appreciation.

It’s hard to say what could be wrong with Flowtime.start(); without looking at the differences between the codepen demo and your local code.
If you could build a static version of you code and send me a zip I will take a look.

Maybe it’s just a matter of flow, but I created the `start` method because I wanted to let Flowtime starts itself as soon as possible AND to h

[2015-11-02 14:12] kawof commented on #43
The new code seems to be working well, I think you can push it to the master.

I debugged my code line by line and in fact, when I added `Flowtime.start()` the navigation would be updated twice, this also happened with other settings I had before (I specified something like if you come with certain url you should be redirected to a specific page, so I used `Flowtime.gotoPage(target)` and this was

[2015-11-02 14:20] marcolago commented on #43
Sure! Send me a static version when you want and I’ll take a look.

Pushed to master.
Thanks for your requests, Flowtime is a better product thanks to user feedbacks.

[2015-11-05 13:49] kawof opened #44 "Navigation questions"
I have some very simple questions about navigation. Can you please take a look at this pen? http://codepen.io/anon/pen/MaqOBv

I want to go all the time to the Top slide of each section, and I set up the following Configurations:
[code]

1) If you navigate from Page 1 to Page 2, and when you are in Page 2 you go UP, you will end up in Page 1 / Slide 3. Is it possible to disable this functionality?

[2015-11-05 14:42] marcolago commented on #44
Hi.

1) Using UP or DOWN keys you are navigating per pages and not per sections, so it’s correct that you go to the **previous page** that is the last of the **previous section**.

I could add a new option to force the navigation to go to the first page of the previous section, it should be an easy task.

2) Sorry, buy I’ve not understood your example.
Could you please take a look at this simple d

[2015-11-06 19:00] kawof commented on #44
Hi,

1) Regarding this point, I would love to have the option to disable that behavior. If you could add a new option to force the navigation to go to the first page of the previous section it would be great.

2) I see, my apologizes for not being clear. Now I understand that I misunderstood how the navigation works. If the arrow keys "up" and "down" navigate through the pages and the "left" and "

[2015-11-06 20:37] marcolago commented on #44
Ok, for the first point I should have a working version soon, the hard part is choose a good name for the API :P

About the second point.
You said that when navigating backward the behavior is  S2 P2 > S2 P1 > S1 P2 > S1 P2.
Do you mean S2 P2 > S2 P1 > S1 P2 > S1 **P1**?

If yes, it is correct.
You scroll from page to page and from section to section in reverse order.
What I don‘t understand is wh

[2015-11-07 18:26] marcolago commented on #44
Hi.
I've just pushed to master the new backFromPageToTop new API.
Have a look and let me know if is ok.

I'm waiting for more details about your second request.
Maybe if you could build a demo from my previous codepen and give me the steps to better undertand your needs I could understand how to develop the feature.

Thanks
marcolago

[2015-11-09 19:19] kawof commented on #44
Hi @marcolago

Thanks a lot for the edit and the time! that fix is working fine.

Now you will think that I am a pain in the ass, but I have an extra question.
http://codepen.io/anon/pen/OyBKRy
http://codepen.io/anon/debug/OyBKRy

If you are in the page 1/a and you click in the yellow button "next page", you will be in Page 1/b and right next to it, you'll see "Page 2". That's good.

If you press

[2015-11-09 22:48] marcolago commented on #44
Ok, I got it!
I’m really sorry but I have to admit that the documentation “was wrong”.
I’ve implemented the prev and next section methods logic like if you hold the shift key (just like it works with the keyboard) but now I realize that it was not the right way.

I’ve fixed the issue with the last push to master and I tested it in this pen forked from your: http://codepen.io/marcolago/pen/JYejeL
I

[2015-11-10 20:23] kawof commented on #44
The codepen works great. I will test the script in my dev server. Many thanks again!!

[2015-11-13 10:13] marcolago opened #45 "Momentum scroll fix"
I've just created a new branch to discuss the momentum scroll issue (#33)

https://github.com/marcolago/flowtime.js/tree/dev-momentum-fix-tentative

The default momentum scroll delay is set to 2000 milliseconds (4 times the default transition time).
It's possible to change this value using `Flowtime.setMomentumScrollDelay(milliseconds);` method.

This fix disable scrollwheel event parsing with a s

[2015-11-13 10:43] marcolago commented on #45
Pushed to master branch.

[2015-11-13 10:43] #45 closed

[2015-11-16 10:16] #44 closed

[2015-11-19 11:54] kawof opened #46 "Is data-id needed?"
I discovered something that deserves updating the documentation in specific cases:

This makes the user think that the `data-id` field is optional. But is not really optional, is it?

While loading posts via Ajax right now, I realized that if I didn't include this `data-id` field, flowtime wouldn't know where was my actual post and it would add two .actual classes to the body. At the beginning I t

[2015-11-19 13:27] marcolago commented on #46
Very strange behaviour.
I'll chek but I need some informations.

Do you clone the active section to generate the new one?
When do you call updateNavigation()?

Flowtime set actual class checking every page in the DOM, then comparing if the page is the actual destination, and finally removing od adding the actual class.

What happens to you seems a problem relative to a missing step in the normal f

[2015-11-19 13:29] marcolago commented on #46
the `data-it` attribute is not needed and is auto generated by Flowtime at runtime if missing in the markup.

[2015-11-19 13:47] marcolago commented on #46
In the meanwhile I’ve fixed a problem with the IDs auto generation in a limit case like your.
Tell me if this could help you.

Thanks.

[2015-11-19 14:07] marcolago commented on #46
Sorry, I messed up with the issue because the message was changed.

The `data-id` is NON needed, but is used only if you want to customize the URLs for deep linking.
The documentation says:

this means that you **can** set your custom `data-id` to customize the URLs.

If you don’t need to customize the URLs you can ignore the attribute that will be auto generated, now for both sections and pages,

[2015-11-19 16:23] marcolago commented on #46
I’ve built an example useful as a starting point for a reduced test case.
You can find it in /examples/auto-id/

Let me know if you could build a test case and send me the code.
Thanks.
marcolago

[2015-11-19 17:41] agratson15 opened #47 "Scrolling down a container with mouse wheel"
Hi @marcolago, I was looking into a way to scroll down on a container that has overflow text that's hidden. When I do it goes to the next page. I suppose I can just use the mouse and manually click and hold the scroll bar to move down, but it's just a little more intuitive to use your mouse wheel when your over the content that needs to scroll. Do you have any recommendations? Thanks in advance fo

[2015-11-20 11:21] marcolago commented on #47
Hi @agratson15.

Scrolling with the mouse wheel (or magic mouse/trackpad on Mac) is a complicated task to do in the right way because of problems caused by momentum scroll detection.

I've built a demo you can find here: http://flowtime-js.marcolago.com/examples/overflow-scroll/
where you can test the current implementation.

Unfortunately the implementation is not perfect but is the best-for-the-

[2015-11-20 14:04] agratson15 commented on #47
Thanks, @marcolago!

First, I've really enjoyed working with Flowtime, so thank you for your time in the creation of it and maintaining it - it's a very cool platform! Also, thanks for your prompt response in the matter - very helpful.

I completely understand the complexity as I was trying to find a solution before I reached out to you, so again, thanks for setting up the demo. Like you said, it'

[2015-11-20 15:00] marcolago commented on #47
Happy to know that is ok and thanks again for the appreciation.
Let me know where I can see the project when done and if you need further support.

[2015-11-20 15:00] #47 closed

[2015-11-21 15:22] markkuuu opened #48 "Layout questions"
Hello @marcolago

Thanks a lot for this great plugin!

I would like to ask for an advice regarding layout structure:

I have a design where the slides are 80% the width of the screen, with a padding of 5% between each slides. The slides should appear centered, and the user should be able to see next and previous section. I understand this is not so difficult to do, I just made some test in codepen

[2015-11-21 22:37] marcolago commented on #48
Hi @markkuuu.
Your explanation is very clear and I’m working on a solution to achieve exactly what you need.

Your first demo is the “standard” correct way in my opinion.
Your fourth demo is the quick way I used for the `scrollTheSection` example but I don’t suggest to use this in production because scaling content can cause graphic glitches on fonts and on thin lines.

There are two important thi

[2015-11-22 14:11] marcolago commented on #48
Hi @markkuuu.
I've improved the solution and this could be the good one.

You can check the result in Codepen here: http://codepen.io/marcolago/pen/GpLQma
or in the example page here: http://flowtime-js.marcolago.com/examples/variable-height/

The pages height, the position of the Flowtime container and the section position and margins are managed via CSS.
Everything else is managed by Flowtime sc

[2015-11-22 21:01] marcolago commented on #31
Hi @mgkz and @rootion.

While working on some other issues I've improved the scroll behavior.
You can check the example here: http://flowtime-js.marcolago.com/examples/overflow-scroll/

Could you tell me if this works for you?
Thanks for the patience and for the feedbacks.
marcolago

[2015-11-23 12:19] markkuuu commented on #48
Wow! this is fantastic. I will test it intensively and will let you know. Many many many thanks!

[2015-11-23 17:04] marcolago commented on #48
It was a pleasure.
Let me know if you need further help; I will do my best to help you.

[2015-11-23 17:04] #48 closed

[2015-11-26 15:03] mark3rr opened #49 "Is ist possible to move the first child of a section element after the last one and vice versa"
I need to modify flowtime to act like a carousel. Is it possible to get this to work?

[2015-11-26 15:05] mark3rr commented on #49
I have managed it to jump to top or bottom. If i am on the first or last page. but this isn't looking very nice :)

[2015-11-26 15:43] marcolago commented on #49
Hi @mark3rr.
Let me see if I have understood your request.

Do you mean to loop the pages, using down or up, in a single section going from the last page to the first but “moving down” and not all to the top, and still using left or right to navigate to the previous or next section?

If yes I think this is not impossible to achieve but is a very heavy modification.
The first thing to consider is t

[2015-11-26 19:24] mark3rr commented on #49
Hello & thank you for the quick response,
yes, I meant to loop the pages. I tried to use the $( "this" ).siblings(":Last") last selector in your code at the Keyboard Navigation Section, the Touch and Scroll section to move the Pages to the top or bottom. But that doesn`t work.
I'm not in a hurry. Would be great if you could help me, thank you.

[2015-12-09 11:52] Meierchen commented on #49
Hi @marcolago.

is there since a solution for this little problem with your exciting template @mark3rr has posted? i am also interested in that function.

best wishes and thank you very much!

[2015-12-09 11:55] marcolago commented on #49
Hi @Meierchen

Not yet, sorry.
I was very busy in the last two weeks (and ill also).

I’ll check back this issue soon to find a solution if possible.
Thanks for patience.

[2015-12-09 12:25] Meierchen commented on #49
Ok, thank you -especially for the ultrafast response:-) Would be a little dream if this could work.

[2015-12-16 08:29] tpluscode commented on #12
There's no real need to implement markdown support. Flowtime slides are actually HTML right? There are a number markdown rendering web components. I've been using [zero-md](https://customelements.io/zerodevx/zero-md/) and it works great.

[2015-12-16 13:45] ShMcK commented on #12
That sounds like a much better implementation. :+1:

[2015-12-29 11:38] Snugug opened #50 "Speaker Notes"
I'd like to be able to write and view speaker notes for each slide. Ideally, they'd work like PowerPoint/Keynote/Reveal.js and be a separate screen that shows the current slide, a smaller version of the next slide, current time, a timer, and the speaker notes I've written for a given slide, and they would change as I change slides

[2016-01-20 09:06] rootion opened #51 "Disable going to the bottom of the prev slide"
Hi marcolago,

is there a way to disable going to the last slide in the previous column, when I am in the first slide of the current column and the user press the "up" key or the up mouse scroll movement?

for example if I am currently in B1

[ A ]  [ B ]  [ C ]
[ 2 ]  [ 2 ]  [ 2 ]
[ 3 ]  [ 3 ]  [ 3 ]

The default behavior will be that I will go to A3 if I press the  "up" key.
Can we optionally di

[2016-01-26 21:02] marcolago commented on #51
Hi @Rootion.

I’m very sorry for the late but this is a very very busy time for me.
I’m working on several projects both in the day job and in the spare time.
I’ll be more productive in Flowtime support the next month.
I hope to fix this issue ASAP.

Thanks for your patience.

[2016-01-26 21:09] marcolago commented on #50
Hi @Snugug.

I’m very sorry for the late but this is a very very busy time for me.
I’m working on several projects both in the day job and in the spare time.
I’ll be more active in Flowtime support in the first weeks of February.

I’ve started to do a simple implementation of the speaker notes but is not an easy task to do it well and future proof.

Thanks for your patience.

[2016-01-30 17:16] marcolago commented on #51
Hi @rootion.

I had some spare time during the Global Game Jam (I’m not jamming, I’m here as a mentor) and I’ve implemented you request.

You can find the version in the dev-sections-not-from-pages branch here https://github.com/marcolago/flowtime.js/tree/dev-sections-not-from-pages

Please, do some tests and let me know if this is ok to you so I can push to master.
Thanks for the patience.

marco

[2016-01-30 19:53] marcolago commented on #42
Hi @badstorm.
I’ve implemented a possible solution to your issue.
Could you check the dev-sections-not-from-pages branch here https://github.com/marcolago/flowtime.js/tree/dev-sections-not-from-pages and let me know if this is a possibile solution to you?

You have to configure Flowtime with the Flowtime.toSectionsFromPages(false); option to enable the logic.

Let me know and thanks for the patien

[2016-01-30 19:54] marcolago commented on #51
Sorry.
I’ve forgotten to tell you how to enable the feature.

You have to configure Flowtime with the Flowtime.toSectionsFromPages(false); option to enable the logic.

Let me know.
Thanks.

[2016-02-04 22:35] rootion commented on #51
Wow! I don't know how, but the email notification was lost and I missed to see that you have replied long time ago already!

Thank you so much for your feedback. I will test the files and let you know.

[2016-02-04 22:53] rootion commented on #51
It doesn't seem to work. Am I doing something wrong in the configuration?
https://s.codepen.io/rootion/debug/MKqRPa#/1/1
https://s.codepen.io/rootion/pen/MKqRPa#/1/1

If I am in "Section 2 / Page 1" and I press the up key I still will end up in "Section 1 / Page 2"..

[2016-02-05 08:18] marcolago commented on #51
Hi @rootion.
I’ve cheched you pen and I noticed you used the wrong version of Flowtime.js.
You have to test it with the dev branch here: https://rawgit.com/marcolago/flowtime.js/dev-sections-not-from-pages/js/flowtime.min.js

I’ve tried and seems to works fine.
Let me know.
marcolago

[2016-02-05 15:01] rootion commented on #51
Yes, that works perfectly thanks! If you can push it to the master that would be great.

I dont know if I should ask here or open a new issue. When I test the .js and .css files in codepen in works flawlessly. When I import it in my local files it doesn't show anything, the screen is white.
Checking what could be, I have my development set up in a 3 months old fork and I see that there was some de

[2016-02-05 16:23] rootion commented on #51
I have added some other comments with a version issue but it's now solved. It was due to some css styles I had to modify in my end. Now everything is working. You can push it to the master.

Many many thanks!

[2016-02-05 16:23] #51 closed

[2016-02-06 14:00] marcolago commented on #42
Closed while fixing issue #51.
Merged to master branch.

[2016-02-06 14:00] #42 closed

[2016-02-09 14:59] atulbanwar opened #52 "Demo page crashes on Ipad Air"
I was checking out the demo website of flowtime.js "http://flowtime-js.marcolago.com/" on Ipad Air (IOS 8.0). I am using google chrome (V43.0.2357.56).

It works mostly fine when I slide through pages. But when I move across pages using the navigation grid boxes (which is located at the right bottom corner of the page), chrome crashes after some time. I can reproduce this scenario repeatedly.

Som

[2016-03-03 21:06] marcolago commented on #52
Hi @atulbanwar.
Sorry for the late.

I've tested the demo on different iPads but I’ve never experienced crashes.
Anyway, it could be a memory issue so could you please try a version where I’ve removed all the images (except the logo in the first page) and let me know if still crashes?

Here the link to the demo: http://flowtime-js.marcolago.com/examples/no-images/

Thanks.
marcolago

[2016-03-15 07:58] atulbanwar commented on #52
Hi @marcolago,

Thanks for the reply.

I tested this new link without images. Apparently this does not crash. So I guess you are right, it could be a memory issue.

But does this mean I cannot include heavy images (or controls with large amount of data)? Is there any way to handle these crashes?

Could you please look into this a little. I will continue working on it at my end as well.

Thanks,
At

[2016-03-15 09:01] marcolago commented on #52
Maybe you could try to lazy load the images only when needed or to load a low resolution version of images and then switch to the full version only when you go to the current page.

I’ll investigate on why the problem is present on a new iPad and not on an old iPad 2.

Let me know if you can try the lazy load solution.
Thanks
marcolago

[2016-03-16 06:23] atulbanwar commented on #52
yes lazy loading is one good option, it's just that it wont look good to load the images (or other control's data) after you move to the slide. It will kinda steal the effect.

Also, I went through a couple of posts and it seems the problem is with iPad Air. The Air's 64 bit program consume significantly more RAM as compared to the previous models.

Anyways, I will let you know if I decide to go w

[2016-03-19 18:44] eheikes opened #53 "flowtime.min.js breaks navigation"
I assumed that the `flowtime.min.js` file was simply a minified combination of `brav1toolbox.js` and `flowtime.js`. However, if I try to use it, the up/down navigation between sections does not work. (That is the only difference I can see between the two uses; everything else seems to work.)

The docs don't mention `flowtime.min.js`, and the demos use the 2 separate JS files, so I'm not sure if I'

[2016-03-19 20:11] marcolago commented on #53
Hi @eheikes.

You are right, the minified version breaks the navigation because I’ve forgot to rebuild the file after the last commit.
I’ve committed the fixed script right now.

As you supposed `flowtime.min.js` is just a minified and concatenated version of `brav1toolbox.js` and `flowtime.js` and nothing more.

Thanks for pointing out the issue and let me know if you experience further problems.

[2016-03-19 20:11] #53 closed

[2016-03-21 16:16] Hotschke opened #54 "Feature: Fragments hidden only when first time visiting"
I am new to flowtime.js. I have experience with latex-beamer. One feature of flowtime.js raised my attention is: `Flowtime.fragmentsOnBack(true);` However, it turns out this the same behaviour as in latex-beamer with overlays.

I was hoping the feature would mean if I have revealed a fragment it stays so till the end of my presentation.

Is it possible to add this fo flowtime.js. Something like `F

[2016-03-23 00:38] armaandhir opened #55 "fullscreen for web browsers affects view"
In browser full screen view, the sizes of elements move out of view port.
![photo 1](https://cloud.githubusercontent.com/assets/5524741/13972317/0011a878-f06e-11e5-98fc-7d03222a293d.JPG)
![error](https://cloud.githubusercontent.com/assets/5524741/13972326/0dc091be-f06e-11e5-962b-fcb4c8391ae7.JPG)

[2016-03-23 09:10] marcolago commented on #55
It look just like the Font size is too big because the media queries and the responsive logic.
It should be enough to tweak the CSS to fit everything in the screen.

If you could send me your main HTML file I will do the tweaks for you.

Let me know.
marcolago

[2016-03-23 09:14] marcolago commented on #54
This could be a nice implementation (even the name of the option is cool :D).
I will work on it.

By the way `fragmentsOnBack(false)` completely reset the fragments on a single page if visited navigating back to it.

I’ll let you know when I have a functional implementation of `Flowtime.keepAlwaysFragmentsOnOnceRevealed(Boolean false);`.

[2016-03-23 10:25] Hotschke commented on #54
Great to hear that you like it and intend to implement it. Thanks for your efforts and sharing of flowtime.js.

[2016-03-26 20:44] armaandhir commented on #55
@marcolago Thanks for your reply!
I just noticed that the issue is only with Chrome browser. So yes, It might be resolved using media queries.
For time being I am completing my presentation. Once done, I will let you know if I am not able to solve it!

[2016-03-26 21:03] marcolago commented on #55
Ok, let me know if you need further support.
I’ll do my best to help.

[2016-03-28 00:06] armaandhir opened #56 "<sub> tag not working"
sup tag seems to work but not the sub tag. Tried looking at css but couldn't see.

[2016-03-28 01:47] armaandhir commented on #55
@marcolago The issue still exists buddy. I dont know why the elements dont fit in the full screen mode of the browsers!

[2016-03-28 08:07] marcolago commented on #55
Ok, I'll check it out.
Could you send me the markup (at least of the failing page in your screenshot) and the Chrome version?

Tomorrow I'll be in office with a Windows 10 machine.
I still have Win 7 in my Bootcamp partition.

I'll let you know soon.

[2016-03-28 08:26] #56 closed

[2016-03-28 08:34] marcolago commented on #56
Ops!
Fixed, I switched from CSS reset (too old) to a new CSS normalizer.
I tested the default presentation and everything seems fine but let me know if some styles are different.

[2016-03-29 08:32] marcolago commented on #55
Hi. I’ve checked out and the problem is a combination of your screen size and this media query:

[code]

When you look at the presentation with the browser’s chrome on you have a viewport height less than 41 em (41*16 = 656px) but if you look the same presentation in full screen the height is 768 px so the font-size change at 120%.

If you get rid of the media query you should get rid of the probl

[2016-03-29 19:19] armaandhir commented on #55
Hi, Thanks for the reply. Ill test this one and let you know. If it still exists, I will send you my ppt so that you can have a better view of whats happening.
I am a software developer too but bad when it comes to web design and front-end development.
The only reason I like flowtime is because it is easy to implement and many things were already aligned in the default theme.

[2016-03-29 21:19] marcolago commented on #55
Ok. I’ll wait news from you.
Consider that, just like PowerPoint, some contents may exceed the page if too long but you can resize the text on a single page to better fit the content with a little of CSS (I will help you if you need).

Let me know if you need further support, and thanks for your appreciation.

P.S.: Yes, working with CSS can be a pain, I know it very well ;)

[2016-04-04 08:01] armaandhir commented on #55
should I email you my code so that u can fix that fullscreen thing ?

[2016-04-04 09:52] marcolago commented on #55
Yes, sure!

Il lunedì 4 aprile 2016, Armaan Dhir <notifications@github.com> ha scritto:

--
marcolago

Interactive Stuff Designer, Observer, User

Twitter: @marcolago
<http://maledettaconsole.tumblr.com/>Open Source Projects:
http://github.com/marcolago/
On Frontend Development: http://absolide.tumblr.com

On Video Games: http://maledettaconsole.tumblr.com

[2016-04-06 07:18] marcolago commented on #55
Have you already sent me your markup?
You could send the source at: marcolago at gmail dot com.

I have some email issue these days so I want to be sure of not missing something.

[2016-04-19 12:23] cvinde opened #58 "View of nearby columns and differentiated # columns view"
Hi, is it somehow possible to get the flowtime.js to behave like in attached examples?

![image](https://cloud.githubusercontent.com/assets/18552523/14638916/0a8164ec-063a-11e6-87c6-3bbb4b849a0a.png)

![image](https://cloud.githubusercontent.com/assets/18552523/14638933/1580165e-063a-11e6-88b2-08befcafdaae.png)

[2016-04-24 13:59] marcolago commented on #58
Hi @cvinde. Sorry for the late in response.
It’s possible to get variable width sections just setting the width per section in the theme CSS but to achieve what you show in the examples I have to better understand what you need.

It seems to me that you just have 1 page per section and the everything scroll in vertical direction (or you could scroll just the content of the single page) while the h

[2016-04-26 08:46] cvinde commented on #58
Hi, thanks for your reply.
I will try to play with the width settings.

What I need is to remove the concept of fixing one column per displayed page(width) and base the amount of columns to be displayed on device type.
On mobile devices, the idea is to have one column/page in width, however with the nearby columns displayed in the sides so that the user more easlily sees that there are more conten

[2016-05-17 11:00] xrmx opened #59 "Please add build instructions"
It would be nice to list build requirements and add build instructions in the README.

[2016-05-17 12:55] marcolago commented on #59
I’ve just added some “HTML build” instruction to explain how to insert CSS and JS files in the markup.

There is nothing else to build, just plain CSS and JavaScript.
The Grunt tasks are useful just to autoprefix CSS and concat/minify JavaScript but are not required to “build” the project.

Thanks for pointing out.

[2016-05-17 12:55] #59 closed

[2016-05-17 15:30] xrmx commented on #59
Let me disagree with that :) Being able to build the minified js is quite important to me. Documenting to install node, npm and grunt and then type `npm install` and `grunt` would be enough to get people started.

[2016-05-18 09:05] rafamerino opened #61 "slidemote.js failing to load"
Hi, Marco. I don't know what is for this js exactly, but on load page, browser keeps trying to download until timeout (domain not working), making annoying to see loading animation in the page's browser tab. I've removed the js load line in index.html and everything works fine.

![image](https://cloud.githubusercontent.com/assets/371826/15353239/4d0fa7a0-1ce8-11e6-9d7d-273023ce8d96.png)

Regards.

[2016-05-18 20:44] marcolago commented on #61
Hi @rafamerino.
Sorry for that. Slidemote is an external third party script I used to control the demo via smartphone (https://github.com/praveenvijayan/slidemote).

Unfortunately Slidemote seems not working anymore.
I’ll remove it from the demo and from the examples.
You can safely remove the script from your project without consequences.

Thanks for pointing out.

[2016-05-18 20:44] #61 closed

[2016-05-18 20:57] #46 closed

[2016-05-18 20:58] #55 closed

[2016-05-18 22:23] rafamerino commented on #61
Thanks to you for your awesome work!

[2016-05-24 19:45] #31 closed

[2016-05-26 15:19] tfer opened #64 "Progress Indicator not working in examples"
Of all the index.html files in the repo, the Progress Indicator only works in three of them: the demo at the top level, the example in the 'auto-id' folder, and the example in the 'native-zoom' folder.

For all the others, the Progress Indicator highlites the first rectangle and never moves no matter what section/page you are on.

Diff'd a working and non-working index.html, I don't see what could

[2016-05-26 16:21] marcolago commented on #64
Hi @tfer.
Thanks for pointing out.
It’s just a javascript error because I’ve broke some examples with a missing callback.
I’ll fix this issue just tonight, just after my wife’s birthday party :P

I’ll comment here when done.

[2016-05-26 19:01] marcolago commented on #64
Ok, fixed and pushed to master.
@simobasso was too zealous while linting the code ;)

Let me know if you experience some other problems.

[2016-05-26 19:01] #64 closed

[2016-05-26 19:38] simobasso commented on #64
Sorry 😳

[2016-05-26 19:49] marcolago commented on #64
It was my fault, @simobasso.
I had to initialize the var to `null` and not to `undefined` to prevent this kind of confusion.

Now everything is ok ;)

[2016-05-27 03:53] tfer commented on #64
Yes, the progress indicator is working in all the examples.

However, I think the "Grid Navigation False Demo" is not doing what it claims to do, ..., I'll open another issue.

[2016-05-27 04:01] tfer opened #65 ""Grid Navigation False Demo" is not doing what it claims to do"
If I understand what this demo is supposed to do, i.e. pop to the top page of any section navigated to by the left or right arrows no matter what page you came from, well that is not what I'm seeing.

I'm seeing the 'default' behavior, move to the adjacent grid-square if present, or the last in the section moved to if absent.

[2016-05-27 05:51] tfer opened #66 "Features: Or directions for my fork"
I've got a fork, that at the moment differs only in the readme.md, but that mocks up a bit of what I want to do, along with some implementation ideas.

I'd be interested in whether you think this is doable along with any hints you might have, (js is not my best language).

It's here: https://github.com/tfer/flowtime.js

Tom

[2016-05-27 07:21] marcolago commented on #65
FIxed.
I’m sorry, another JSLint related issue.

[2016-05-27 07:22] #65 closed

[2016-10-16 07:03] galHo opened #67 "npm installation"
hey,
is it possible to use flowtime.js via NPM installation ?

[2016-10-18 11:02] marcolago commented on #67
Hi.
Sorry but Flowtime.js is not a Node module but just a simple library to manage navigation and presentation.
You can keep it updated using Bower.

[2016-10-18 11:02] #67 closed

[2016-10-18 11:03] #52 closed

[2016-10-22 15:37] Snugug commented on #50
No worries! I totally understand; OSS is volunteer work. If you have a branch that you've started working on this on/thoughts on how you'd like to handle it, I can see if I can spare some cycles to help out.

[2016-12-05 22:27] ChristianFrisson opened #68 "Automatically maximize image size independently of window resizes?"
Hi,

Flowtime.js is very convenient. I now prefer it over reveal.js since its slide overview can be fully displayed in one screen without scrolling. Is there a way to automatically maximize the size of embedded images in slides independently of window resizes?

Best regards,
Christian

[2016-12-08 20:01] marcolago commented on #68
Hi @ChristianFrisson.
I’m not sure if I had understood your request.
Could you make me a couple of examples of what you want to achieve?

Thanks
marcolago

[2016-12-08 20:25] ChristianFrisson commented on #68
Hi @marcolago,

For example in your sample slides, section 5, page 2:
http://marcolago.github.io/flowtime.js/#/section-5/page-2
If the height of the window is lower than the height of the image, or if the width of the window is lower than the width of the image, the image is displayed as the maximum size it can get from the window and according to the aspect ratios of both window and image. Howeve

[2016-12-08 22:39] marcolago commented on #68
Ok, understood.

To fit an image to the available space, like in the slide you linked, you have to edit the CSS rule `.flowtime img` like this:

[code]

[2016-12-28 18:32] leoniddesign opened #70 "Wordpress and Flowtime"
Hello Marcolago,

thanks for this great stuff!

I want to use it with wordpress an try to show differents of ids like this:
`<?php

        $args = array(
            'post_type' => 'flow',

        );
        $the_query = new WP_Query( $args );
    ?>

    <div class="flowtime">

    <?php $i=0; ?>
    <?php if ( $the_query->have_posts() ) : while ( $the_query->have_posts() ) : $the_query->the_po

[2016-12-29 21:59] marcolago commented on #70
Hi.
Your code looks correct to me but I’ not a PHP expert.
I don’t know why you only get the same ID for every section and page but keep in mind that Flowtime works fine even if you do not manually specify the IDs because it automatically generates IDs for the missing ones.

Could you try to remove the ID printing and let me know if it works.
Thanks

[2017-04-08 23:24] JTGMAGIC opened #71 "Hide that ugly URL - /#/2/2"
Hi. Flowtime js is fantastic but I wonder if anyone know if is possible to hide or remove that ugly url after the domain ?
www.domain.com/#/2/2

I want something like only the domain
www.domain.com

or use custom url after the domain is possible
www.domain.com/somethingelse

Thanks,
Joao

[2017-04-09 08:43] marcolago commented on #71
Hi!

I’ve just added the `Flowtime.updateURL(false)` option to disable the URL updating, so you can achieve your first request.
You can get the new version from the master branch here on Github.

The second request can be already achieved simply setting the custom `data-id` attributes on `ft-section` and `ft-page` elements.
The result should be, for example: www.domain.com/#/somethin-section/somet

[2017-04-09 08:43] #71 closed

[2017-04-10 08:41] #68 closed

[2017-05-28 18:27] kealy opened #72 "Loading D3.js"
I've been trying to figure out how to load D3.js charts into divs with ids but it's not working (works on separate site). Is there something in the flowtime that would block this as it's also using div ids or are there examples of this being done?

Thanks :)

[2017-05-28 19:00] marcolago commented on #72
Nothing that I’m aware of.
If IDs are specified in the HTML Flowtime do not modify them.
Could you send me a test link, a Codepen or a static package I could test?

Thanks

[2017-05-28 21:03] kealy commented on #72
Thanks for getting back to me, if you could take a look that would be great:

Here is the page where it works: http://dashboard.kealyc.com/

Here is the link for where I'm working with flowtime:
http://scroller.kealyc.com/#/section-1/page-1

The script to be inserted is in charts.js :
http://scroller.kealyc.com/js/charts.js

Thanks :)

On 28 May 2017 at 20:01, Marco Lago <notifications@github.com>

[2017-05-29 06:05] marcolago commented on #72
The first thing I noted is a JavaScript error: `ReferenceError: $ is not defined`.
Could you check if you had correctly loaded JQuery?

Flowtime comes without dependencies and JQuery is not used out of the box.

Let me know.
Thanks.

[2017-05-29 10:34] kealy commented on #72
Yep, it was the jquery! Thanks for helping out :)

On 29 May 2017 at 07:05, Marco Lago <notifications@github.com> wrote:

--
Kealy Cozens

M: 07802813689

[2017-05-29 11:12] marcolago commented on #72
Glad to be helpful!
If you will need support for Flowtime in the future let me know.

Thanks.

[2017-05-29 11:12] #72 closed

[2017-08-13 21:14] c0b opened #73 "could you update broken link in description?"
the http://flowtime-js.marcolago.com in project description; for michaelrambeau/bestofjs-webui#50

[2017-08-14 18:43] marcolago commented on #73
Thanks for pointing out the problem.
My hosting provider is messing with a server migration.

The official link is now https://marcolago.github.io/flowtime.js/
Thanks.

[2017-08-14 18:43] #73 closed

[2017-09-12 13:47] 1q2q1q1q opened #74 "Is it possible that to display a long content to different pages? The long content includes HTML format text and base64 string."

[2017-09-14 12:47] marcolago commented on #74
It’s not ad automatic features, you have to split the content across pages to have control.
Please, mind that if you have long content that exceed the page height the content scrolling and the scroll navigation could be a bit “clunky”.

[2017-09-14 12:51] 1q2q1q1q commented on #74
Thanks  for your reply.

On Thu, Sep 14, 2017 at 8:47 AM, Marco Lago <notifications@github.com>
wrote:

[2018-09-19 15:59] #74 closed

[2018-11-24 16:51] jozsefk9 opened #75 "Jump to top of the section by entering a number"
Would it be possible to jump to the top slides of each section by entering a number on keyboard and hitting the Enter?

[2019-05-27 19:17] luizbrz opened #76 "Its any simple way to make Dynamic Tree Structure?"
Correct me if I'm posting the question in the wrong place.

I'm trying to use this script horizontally.
I used these settings:

Flowtime.useHistory (false);
Flowtime.slideInPx (true);
Flowtime.gridNavigation (false);
Flowtime.parallaxInPx (true);

I would like to create more vertical lines with multiple paths / routes.
As if it were a dynamic tree structure, in horizontal .

Is there any easy way

[2019-05-28 08:19] marcolago commented on #76
Hi!
You are in the correct place.

For the first questions I have to say that Flowtime is designed to be a grid but what you would achieve is more like graph nodes.

A trick you could try is to manage sub paths like in this example: marcolago.github.io/flowtime.js/examples/sub-pages-demo/
but I don’t think this will be the right solution.

I suppose you just want to navigate to a “slide” following

[2019-12-19 21:32] Xembie opened #79 "Stacked images cycling"
When using the right arrow to skip by a stacked image slide, the stacked images cycles to the next image.  Left arrow resets it.  I think proper behavior would be to only cycle the images on down or return like keys?
![2019-12-19_11-28-58](https://user-images.githubusercontent.com/1714031/71211409-27961a80-2253-11ea-8e11-66962a243578.gif)

[2020-02-15 22:20] marcolago commented on #79
Hi @Xembie.
Sorry for the late answer.

To get the desired behavior you have to configure Flowtime using **fragmentsOnBack** option.

The default behavior (the default Flowtime configuration) is:

1. skip all fragments when navigating by sections;
2. show all fragments in the previous pages so if you get back using **up** you’ll find all the fragments visible;
3. **do not reset fragments** when re

[2020-02-15 22:29] #76 closed

[2020-03-10 14:55] copernico commented on #54
HI, any news on this feature?
And more in general, is flowtime still maintained/developed?
Thanks for the good work!

[2020-03-10 21:50] marcolago commented on #54
Hi @copernico, and sorry @Hotschke.
I have to admit that I completely forgot this open issue.

I've just pushed the new
```Flowtime.fragmentsAlwaysOnOnceRevealed```
switch that should work just as requested.

@copernico Flowtime is stable and is maintaned on request (if I’m not too busy :P).

Let me know if you’ll find some bugs.
Thanks.

[2020-03-10 21:50] #54 closed

[2020-03-11 07:49] copernico commented on #54
Thanks @marcolago !
I was asking about the liveness of the project because I was considering it for integration in a project of mine. But I guess that's for another ticket :-)
Keep up the good work!

[2020-03-11 09:30] copernico opened #81 "SlideCaptain links in README.md are dead"
It seems that http://slidecaptain.com/ does not exist any longer (at least it is not reachable for me, is it just me?)

[2020-03-11 12:10] marcolago commented on #81
No, sadly Slidecaptain closed some times ago.
There’s not another visual editor for Flowtime.js.

[2020-03-11 15:07] copernico commented on #81
That's ok, I do not feel so much the need for a graphical editor; however I am planning to create a project to allow editing slideshow starting from markdown, and I was considering flowtime as a candidate for the frontend part.

There are other projects that achieve similar goals, but not in a way that suits my preferred workflow
(for example, remarkjs has markdown parsing done in js, and markdown

[2020-03-11 15:35] marcolago commented on #81
You could take a look to this issue: https://github.com/marcolago/flowtime.js/issues/12
and to the project: https://github.com/ShMcK/markdownFlowtime
if there's something that could fit your needs.

Regarding Flowtime maintenance I'm considering the project in a stable and final version.
Working on it could be ok, at this time my dayjob is really time consuming but it depends on what is meant by "

[2020-03-11 15:52] copernico commented on #81
Thanks for pointing me to https://github.com/ShMcK/markdownFlowtime it is indeed along the lines of what I'm trying to achieve but it looks like a sketchy implementation of the idea (abandoned by now).

BTW: I do have a proof-of-concept implementation that is more advanced than that, and that I plan to release as soon as its basic features are completed and tested a bit more. I plan to make it fle

[2020-03-11 15:54] #81 closed

[2020-03-11 15:57] copernico commented on #81
Fixed in f3f41ffad7ddadc4d0964dfa41305323e77fa156

[2020-03-11 16:07] copernico commented on #12
In the meantime zero-md has disappeared :-(

[2020-03-11 16:14] copernico commented on #12
Anyway, adding markdown support in flowtime itself would be a very poor design choice (the same mistake that remarkjs has made, IMHO). I agree with @tpluscode, what we need is a way to convert markdown to HTML+flowtime.

[2020-03-11 20:14] tpluscode commented on #12
It's definitely still there: http://npm.im/zero-md

[2020-03-11 21:49] copernico commented on #12
Thanks for posting the new link, the old one is dead.

[2020-03-13 09:23] #79 closed

[2020-03-13 09:23] #58 closed